@import "components/utils";
@import "components/forms";
@import "components/aside";
@import "components/buttons";
@import "components/nav";
@import "components/cards";



form .form-group, form.btn-block {
  max-width: 80%;
}


.page .container > h3, .content h3 {
  margin-top: 100px;
}

@media (max-width: 768px) {
  form .form-group, form.btn-block, .checkbox {
    max-width: 100%;
  }
  .page .container > h3, .content h3 {
    margin-top: 50px;
  }
  .content {
    padding: 0 15px;
  }
  .auth-container__leftside {
    min-height: 340px !important;
  }
  .course-container {
    margin: 0 auto !important;
  }
}
.tooltip-inner {
  font-size: 13px !important;
  min-width: 150px;
}


.progress {
  display: flex;
  width: calc(100% + 100px);
  position: relative;
  margin-top: 4px;
  margin-bottom: 20px;
  margin-left: -70px;

  .step {
    position: relative;
    width: 25%;
    float: left;
    height: 20px;
  }
  .step-progress {
    width: 100%;
    top: 10px;
    height: 2px;
    background: $lightestGray;
    position: absolute;
    z-index: 1;
  }

  .mdi {
    position: absolute;
    cursor: help;
    top: 2px;
    left: -9px;
    color: $lightestGray !important;
    background: #fff;
    padding: 0;
    opacity: 0;
    font-size: 18px !important;
    transition: all 0.2s linear;
    z-index: 2;
  }
  .outlined {
    opacity: 1;
  }
  .step:first-child {
    .step-progress {
      background: $secondary !important;
    }
    .mdi {
      display: none;
    }
  }
  .step.done {
    .step-progress:before {
      position: absolute;
      content: '';
      height: 2px;
      width: 0;
      background-color: $secondary;
      animation: growLine 0.5s linear forwards;
    }
    .mdi {
      animation: dash 5s linear forwards;
    }
    .outlined {
      opacity: 0;
    }
    .check {
      opacity: 1;
      color: $secondary !important;
    }
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes growLine {
  to {
    width: 100%;
  }
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

// Toast
.toast-container {
  position: fixed;
  z-index: 999999;
  width: 300px;
  max-width: 100%;

  .toast {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 10px 15px;
    @include border-radius(4px);
    position: relative;
    overflow: hidden;
    margin: 0 0 10px;
    width: 100%;
    pointer-events: auto;
    @include elevation(16, darken($backgroundSecondary, 5%));
    @include elevation-transition(.3s);

    .toast-title {
      @include text(18px, 500, 1.5);
    }
    .toast-message {
      word-wrap: break-word;
    }
    .toast-message a:hover {
      text-decoration: underline;
    }
    .toast-icon {
      display: none;
      width: 100%;
    }
  }
  .toast:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    opacity: 1;
    cursor: pointer;
    @include elevation(24, darken($backgroundSecondary, 5%));
  }
}
.toast-success {
  h3 {
    color: $nephritis !important;
  }
  .toast-icon.success {
    display: block;
  }
}
.toast-error {
  h3 {
    color: $red !important;
  }
  .toast-icon.error {
    display: block;
  }

}
.toast-info {

}
.toast-warning {
  h3 {
    color: $orange !important;
  }
  .toast-icon.warning {
    display: block;
  }
}

.auth-container {
  padding: 0;
  display: flex;
  width: 100%;
  @include border-radius(4px);

  & > .row {
    width: 100%;
    margin: 0;
  }
  &__leftside {
    background: #fff;
    min-height: 500px;

    &:before {
      content:"";
      background: $primary;
      @include linear-gradient(to right, $secondary, $primary);
      @include position(absolute, -180px, 0, auto, -25%, 150%, 500px);
      @include border-radius(50%);
      z-index: 6;
    }
    &:after {
      content:"";
      @include position(absolute, -180px, auto, auto, -25%, 140%, 450px);
      background: #fffdff;
      opacity: 0.94;
      @include border-radius(50%);
      z-index: 7;
    }

    .row {
      padding: 35px 25px 25px 40px !important;
      position: relative;
      height: 100%;
      background: rgba(255, 255, 255, 0.25);
      z-index: 8;
      flex-direction: column;
    }
    .tip {
      font-size: 15px;
      margin: 10px 0;
      font-weight: 500;
      color: #375adc;
    }
    .header-divider {
      margin: 14px 0 25px;
      width: 100%;
      height: 2px;
      @include linear-gradient(to right, $primary, $secondary);
    }
  }
  &__rightside {

    &:before {
      @include pseudo();
      z-index: 9;
      top: 0;
      bottom: 0;
      left: 20px;
      right: 10px;
      @include blur(20px);
      background: rgba(255, 255, 255, 0.88);
    }

    .row {
      padding: 35px 40px !important;
      position: relative;
      height: 100%;
      @include elevation(10, $backgroundSecondary);
      background: rgba(255, 255, 255, 0.94);
    }
  }

  &__bottom {
    margin-top: auto;
    align-items: center;
    text-align: center;
  }
}
.message-container {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}


.inline-loader {
  margin: 40px auto;
}
.loading-ring {
  margin-left: 20px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: $secondary;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.course-holder {
  width: 100%;
}
.course-block {
  margin-bottom: 15px;
  width: 100%;

  .card {
    height: 100%;
  }
  .course-caption {
    margin-bottom: 5px;
  }
  .course-data {
    margin-top: auto;
  }
}

.points {
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: $secondary;
  line-height: 30px;
}

.chart-container {
  padding: 40px 0;
}
.navbar-nav .logout {
  color: $gray !important;
  display: flex;

  .mdi {
    color: $secondary;
  }
}

.students-container {
  padding: 40px 0;

  h4 {
    font-weight: 600;
    color: darken($secondary, 30%);
  }
}
.student-link {
  cursor: pointer;

  .edit-pencil {
    font-size: 20px;
    line-height: 0;
    position: relative;
    top: 3px;
    opacity: 0.6;
    @include transition(opacity .3s ease);
  }

  &:hover {
    background: transparentize(mix($lightestGray, $primary), 0.9);

    .edit-pencil {
      opacity: 1;
    }
  }
}
#course {
  flex-direction: column;
}
.students-statistics {
  margin-top: 40px;
  @include elevation(24, darken($backgroundSecondary, 5%));
  z-index: 8;
  padding: 40px;
}
.sortable-table-container {
  background: #fff;

  .thead-dark {
    @include user-select(none);

    .sortable {
      cursor: pointer;
    }

    .mdi {
      position: relative;
      top: 4px;
      font-size: 18px;
      margin-left: 5px;
      opacity: 0.3;

      &.sort {
        transition: transform .15s ease-out;
        font-size: 20px;
        opacity: 1;

        &.reverse {
          transform: rotate(180deg);
        }
      }
    }
  }
}
canvas {
  margin: 40px 0;
}
.btn-add-new {
  margin-left: 20px;
  padding: 0 5px;
  font-size: 14px !important;
  border-width: 1px;

  .mdi {
    font-size: 19px;
    color: inherit;
    margin-top: 1px;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#qrCodePreview {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.navbar-nav {
  .full-name {
    color: $secondary;
    font-weight: 600;

    &:hover {
      color: $secondaryDark;
    }
  }
}
