@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/code";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";
@import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/alert";
@import "../../../node_modules/bootstrap/scss/close";
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/popover";
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/print";
@import 'bootstrap.custom';

html, body {
  width: 100%;
  min-height: 100%;
  background: $backgroundPrimary;
  color: $fontColor;
}

* {
  @include box-sizing(border-box);
}

#main {
  @include transition(opacity .5s ease-in);
}
body.show {
  overflow: auto !important;

  #main {
    opacity: 1 !important;
    overflow: initial !important;
    height: auto !important;
  }
}


.page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-items: center;
  padding-top: 40px;
}
.center-block {
  margin: auto;
  @include elevation(8, $backgroundSecondary);
  background: #fff;
  @include border-radius(4px);
  overflow: hidden;
  max-width: 1000px;
  width: 100%;
  position: relative;
}
.invitation {
  font-weight: bold;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  text-align: center;
  color: $gray;
}
.hidden {
  display: none;
}


.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.anchor {
  display: inline-block;
  position: relative;
  top: -100px;
}
.purple {
  background: $purple;
}
.dark-purple {
  background: $darkestPurple;
}

.yellow { background-color:  $yellow; }
.orange { background-color:  $orange; }
.red { background-color:  $red; }
.magenta { background-color:  $magenta; }
.light-pink { background-color:  $lightPink; }
.purple { background-color:  $purple; }
.dark-purple { background-color:  $darkPurple; }
.darkest-purple { background-color:  $darkestPurple; }
.white { background-color:  $white; }
.lightest-gray { background-color:  $lightestGray; }
.light-gray { background-color:  $lightGray; }
.gray { background-color:  $gray; }
.dark-gray { background-color:  $darkGray; }
.darken-gray { background-color:  $darkenGray; }
.darkest-gray { background-color:  $darkestGray; }
.black { background-color:  $black; }
.wet-asphalt { background-color: $wetAsphalt; }
.light-blue { background-color: $lightBlue; }

.primary { background-color:  $primary; }
.color-primary { color:  $primary; }
.primaryDark { background-color:  $primaryDark; }
.secondary { background-color:  $secondary; }
.color-secondary { color:  $secondary; }
.color-secondary:hover { color:  $secondaryDark; }
