// PX to REM - Usage: font-size: rem(37px);
@function rem($px, $base: 15px) {
  @return ($px / $base) * 1rem;
}

// Transitions - Usage: @include transition(all .2s ease);
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/*------------------------------------*\
    # Colored shadows
\*------------------------------------*/

/*
The transform is implemented on the wrapper,
so the ::after class can maintain the z-index.
If it was implemented on the div,
it would cause the ::after to move up the stack on hover state.
*/
.color-shadow {
  @include transition(all 1s ease);

  &:hover {
    transform: scale(1.02);
    cursor: pointer;

    &::after {
      opacity: .85;
      bottom: -.25em;
    }
  }
  &::after {
    z-index: -1;
    content: '';
    background: inherit;
    opacity: 0;
    height: 20%;
    width: 70%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10%;
    filter: blur(.9em);
    @include transition(opacity 1s, bottom 0.5s);
  }
}

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

//div::after {
//  @include pseudo;
//}
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin linear-gradient($args...) {
  background-image: -o-linear-gradient($args);
  background-image: -moz-linear-gradient($args);
  background-image: -webkit-linear-gradient($args);
  background-image: linear-gradient($args);
}

/// Background Radial
/// @param {Color} $startColor [#3C3C3C] - Start Color
/// @param {Percentage} $startPos [0%] - Start position
/// @param {Color} $endColor [#999999] - End Color
/// @param {Percentage} $endPos [100%] - End position

@mixin background-radial($startColor: #FFFFFF, $startPos: 0%, $endColor: #000000, $endPos:100%) {
  background: -moz-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop($startPos, $startColor), color-stop($endPos, $endColor));
  background: -webkit-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
  background: -o-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
  background: -ms-radial-gradient(center, ellipse cover, $startColor $startPos, $endColor $endPos);
  background: radial-gradient(ellipse at center, $startColor $startPos, $endColor $endPos);
}

/// Background Size
/// @param {Size} $width [100%] - Width
/// @param {Size} $width [$width] - Height
/// @require {mixin} css3-prefix

@mixin background-size($width: 100%, $height: $width) {
  @if type-of($width) == 'number' and $height != null {
    @include css3-prefix('background-size', $width $height);
  } @else {
    @include css3-prefix('background-size', $width);
  }
}

/// Background Color Opacity
/// @param {Color} $color [100%] - Color
/// @param {Double} $opacity [0.85] - Opacity

@mixin background-opacity($color: #000, $opacity: 0.85) {
  background: $color;
  background: rgba($color, $opacity);
}

/// Border Radius
/// @param {Size} $radius [5px] - Radius
/// @require {mixin} css3-prefix

@mixin border-radius($radius: 5px) {
  @include css3-prefix('border-radius', $radius);
}

@mixin user-select($param: none) {
  @include css3-prefix('user-select', $param);
}


@mixin blur($amount: 20px) {
  @include css3-prefix('filter', blur($amount));
}

/// Box Shadow
/// @param {Size} $x [2px] - X
/// @param {Size} $y [2px] - Y
/// @param {Size} $blur [5px] - Blur
/// @param {Color} $color [rgba(0,0,0,.4)] - Color
/// @param {Boolean} $inset - Inset

@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4), $inset: "") {
  @if ($inset != "") {
    @include css3-prefix('box-shadow', $inset $x $y $blur $color);
  } @else {
    @include css3-prefix('box-shadow', $x $y $blur $color);
  }
}

/// Box Sizing
/// @param {*} $type [border-box] - Type
/// @require {mixin} css3-prefix

@mixin box-sizing($type: border-box) {
  @include css3-prefix('box-sizing', $type);
}

/// Columns
/// @param {Integer} $count [3] - Count
/// @param {Integer} $gap [10] - Gap
/// @require {mixin} css3-prefix

@mixin columns($count: 3, $gap: 10) {
  @include css3-prefix('column-count', $count);
  @include css3-prefix('column-gap', $gap);
}

/// Double Borders
/// @param {Color} $colorOne [#3C3C3C] - Color One
/// @param {Color} $colorTwo [#999999] - Color Two
/// @param {Size} $radius [0] - Radius
/// @require {mixin} css3-prefix
/// @require {mixin} border-radius

@mixin double-borders($colorOne: #3C3C3C, $colorTwo: #999999, $radius: 0) {
  border: 1px solid $colorOne;

  @include css3-prefix('box-shadow', 0 0 0 1px $colorTwo);

  @include border-radius($radius);
}

/// Flex
/// @param {Integer} $value [1] - Value
/// @require {mixin} css3-prefix

@mixin flex($value: 1) {
  @include css3-prefix('box-flex', $value);
}

/// Opacity
/// @param {Double} $opacity [0.5] - Opacity
/// @require {mixin} css3-prefix

@mixin opacity($opacity: 0.5) {
  $opacityMultiplied: ($opacity * 100);

  filter: alpha(opacity=$opacityMultiplied);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $opacityMultiplied + ")";
  @include css3-prefix('opacity', $opacity);
}

/// Outline Radius
/// @param {Size} $radius [5px] - Radius
/// @require {mixin} css3-prefix

@mixin outline-radius($radius: 5px) {
  @include css3-prefix('outline-radius', $radius);
}

/// Resize
/// @param {*} $directoin [both] - Direction
/// @require {mixin} css3-prefix

@mixin resize($direction: both) {
  @include css3-prefix('resize', $direction);
}

/// Rotate
///
/// CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
/// @param {Double} $deg [0] - Degree
/// @param {Double} $m11 [0] - M11
/// @param {Double} $m12 [0] - M12
/// @param {Double} $m21 [0] - M21
/// @param {Double} $m22 [0] - M22
/// @require {mixin} css3-prefix

@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
  @include css3-prefix('transform', rotate($deg + deg));
  filter: progid:DXImageTransform.Microsoft.Matrix(
                  M11=#{$m11}, M12=#{$m12}, M21=#{$m21}, M22=#{$m22}, sizingMethod='auto expand');
  zoom: 1;
}

/// Text Shadow
/// @param {Size} $x [2px] - X
/// @param {Size} $y [2px] - Y
/// @param {Size} $blur [2px] - Blur
/// @param {Color} $color [rgba(0,0,0,.4)] - Color

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
  text-shadow: $x $y $blur $color;
}

/// Transform
/// @param {List} $params - Params
/// @require {mixin} css3-prefix

@mixin transform($params) {
  @include css3-prefix('transform', $params);
}

/// Transform-Origin
/// @param {List} $params - Params
/// @require {mixin} css3-prefix

@mixin transform-origin($params) {
  @include css3-prefix('transform-origin', $params);
}

// Transform-Style
/// @param {List} $params - Params
/// @require {mixin} css3-prefix

@mixin transform-style($style: preserve-3d) {
  @include css3-prefix('transform-style', $style);
}

/// Transition
/// @param {List} $properties - Properties
/// @require {mixin} css3-prefix

@mixin transition($properties...) {

  @if length($properties) >= 1 {
    @include css3-prefix('transition', $properties);
  } @else {
    @include css3-prefix('transition', "all 0.2s ease-in-out 0s");
  }
}

/// Triple Borders
/// @param {Color} $colorOne [#3C3C3C] - Color One
/// @param {Color} $colorTwo [#999999] - Color Two
/// @param {Color} $colorThree [#000000] - Color Three
/// @param {Size} $radius [0] - Radius
/// @require {mixin} border-radius
/// @require {mixin} css3-prefix

@mixin triple-borders($colorOne: #3C3C3C, $colorTwo: #999999, $colorThree: #000000, $radius: 0) {
  border: 1px solid $colorOne;

  @include border-radius($radius);

  @include css3-prefix('box-shadow', "0 0 0 1px #{$colorTwo}, 0 0 0 2px #{$colorThree}");
}

/// Keyframes
/// @param {*} $animation-name - Animation name
/// @content [Animation css]

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

/// Animation
/// @param {*} $str - name duration timing-function delay iteration-count direction fill-mode play-state ([http://www.w3schools.com/cssref/css3_pr_animation.asp](http://www.w3schools.com/cssref/css3_pr_animation.asp))
/// @require {mixin} css3-prefix

@mixin animation($str) {
  @include css3-prefix('animation', $str);
}

$percent-to-show: 25; // value to show in the circular progress CHANGE ME
@function circular-progress($maxPercent, $percent, $color-bar, $color-back) {

  $increment: 360 / $maxPercent;
  $half: round($maxPercent / 2);
  $background-image: '';

  @if $percent < $half {
    $nextdeg: 90deg +  ($increment * $percent);

    $background-image: 'linear-gradient(90deg, #{$color-back} 50%, transparent 50%, transparent), linear-gradient(#{$nextdeg}, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';

  } @else {
    $nextdeg: -90deg + ($increment * ($percent - $half));

    $background-image: 'linear-gradient(#{$nextdeg}, #{$color-bar} 50%, transparent 50%, transparent), linear-gradient(270deg, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';
  }
  @return unquote($background-image);
}

@mixin background-image($file, $type, $width: 100%, $height: auto, $widthRetina: 100%, $heightRetina: auto, $showOnMobile: false) {
  @if $showOnMobile {
    background-image: url($file + '@0,5x.' + $type);
  }
  @media (min-width: 1000px) {
    & {
      background-image: url($file + '.' + $type);
      @include background-size($width $height);
    }
  }
  @media (min-width: 1000px) and (-webkit-min-device-pixel-ratio: 2),
  (-moz-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
    & {
      background-image: url($file + '@2x.' + $type);
      @include background-size($widthRetina $heightRetina);
    }
  }
}

@function _get-umbra-map($color, $opacity) {
  @return (
          0: '0px 0px 0px 0px #{rgba($color, $opacity * 0.2)}',
          1: '0px 2px 1px -1px #{rgba($color, $opacity * 0.2)}',
          2: '0px 3px 1px -2px #{rgba($color, $opacity * 0.2)}',
          3: '0px 3px 3px -2px #{rgba($color, $opacity * 0.2)}',
          4: '0px 2px 4px -1px #{rgba($color, $opacity * 0.2)}',
          5: '0px 3px 5px -1px #{rgba($color, $opacity * 0.2)}',
          6: '0px 3px 5px -1px #{rgba($color, $opacity * 0.2)}',
          7: '0px 4px 5px -2px #{rgba($color, $opacity * 0.2)}',
          8: '0px 5px 5px -3px #{rgba($color, $opacity * 0.2)}',
          9: '0px 5px 6px -3px #{rgba($color, $opacity * 0.2)}',
          10: '0px 6px 6px -3px #{rgba($color, $opacity * 0.2)}',
          11: '0px 6px 7px -4px #{rgba($color, $opacity * 0.2)}',
          12: '0px 7px 8px -4px #{rgba($color, $opacity * 0.2)}',
          13: '0px 7px 8px -4px #{rgba($color, $opacity * 0.2)}',
          14: '0px 7px 9px -4px #{rgba($color, $opacity * 0.2)}',
          15: '0px 8px 9px -5px #{rgba($color, $opacity * 0.2)}',
          16: '0px 8px 10px -5px #{rgba($color, $opacity * 0.2)}',
          17: '0px 8px 11px -5px #{rgba($color, $opacity * 0.2)}',
          18: '0px 9px 11px -5px #{rgba($color, $opacity * 0.2)}',
          19: '0px 9px 12px -6px #{rgba($color, $opacity * 0.2)}',
          20: '0px 10px 13px -6px #{rgba($color, $opacity * 0.2)}',
          21: '0px 10px 13px -6px #{rgba($color, $opacity * 0.2)}',
          22: '0px 10px 14px -6px #{rgba($color, $opacity * 0.2)}',
          23: '0px 11px 14px -7px #{rgba($color, $opacity * 0.2)}',
          24: '0px 11px 15px -7px #{rgba($color, $opacity * 0.2)}'
  );
}

@function _get-penumbra-map($color, $opacity) {
  @return (
          0: '0px 0px 0px 0px #{rgba($color, $opacity * 0.14)}',
          1: '0px 1px 1px 0px #{rgba($color, $opacity * 0.14)}',
          2: '0px 2px 2px 0px #{rgba($color, $opacity * 0.14)}',
          3: '0px 3px 4px 0px #{rgba($color, $opacity * 0.14)}',
          4: '0px 4px 5px 0px #{rgba($color, $opacity * 0.14)}',
          5: '0px 5px 8px 0px #{rgba($color, $opacity * 0.14)}',
          6: '0px 6px 10px 0px #{rgba($color, $opacity * 0.14)}',
          7: '0px 7px 10px 1px #{rgba($color, $opacity * 0.14)}',
          8: '0px 8px 10px 1px #{rgba($color, $opacity * 0.14)}',
          9: '0px 9px 12px 1px #{rgba($color, $opacity * 0.14)}',
          10: '0px 10px 14px 1px #{rgba($color, $opacity * 0.14)}',
          11: '0px 11px 15px 1px #{rgba($color, $opacity * 0.14)}',
          12: '0px 12px 17px 2px #{rgba($color, $opacity * 0.14)}',
          13: '0px 13px 19px 2px #{rgba($color, $opacity * 0.14)}',
          14: '0px 14px 21px 2px #{rgba($color, $opacity * 0.14)}',
          15: '0px 15px 22px 2px #{rgba($color, $opacity * 0.14)}',
          16: '0px 16px 24px 2px #{rgba($color, $opacity * 0.14)}',
          17: '0px 17px 26px 2px #{rgba($color, $opacity * 0.14)}',
          18: '0px 18px 28px 2px #{rgba($color, $opacity * 0.14)}',
          19: '0px 19px 29px 2px #{rgba($color, $opacity * 0.14)}',
          20: '0px 20px 31px 3px #{rgba($color, $opacity * 0.14)}',
          21: '0px 21px 33px 3px #{rgba($color, $opacity * 0.14)}',
          22: '0px 22px 35px 3px #{rgba($color, $opacity * 0.14)}',
          23: '0px 23px 36px 3px #{rgba($color, $opacity * 0.14)}',
          24: '0px 24px 38px 3px #{rgba($color, $opacity * 0.14)}'
  );
}

@function _get-ambient-map($color, $opacity) {
  @return (
          0: '0px 0px 0px 0px #{rgba($color, $opacity * 0.12)}',
          1: '0px 1px 3px 0px #{rgba($color, $opacity * 0.12)}',
          2: '0px 1px 5px 0px #{rgba($color, $opacity * 0.12)}',
          3: '0px 1px 8px 0px #{rgba($color, $opacity * 0.12)}',
          4: '0px 1px 10px 0px #{rgba($color, $opacity * 0.12)}',
          5: '0px 1px 14px 0px #{rgba($color, $opacity * 0.12)}',
          6: '0px 1px 18px 0px #{rgba($color, $opacity * 0.12)}',
          7: '0px 2px 16px 1px #{rgba($color, $opacity * 0.12)}',
          8: '0px 3px 14px 2px #{rgba($color, $opacity * 0.12)}',
          9: '0px 3px 16px 2px #{rgba($color, $opacity * 0.12)}',
          10: '0px 4px 18px 3px #{rgba($color, $opacity * 0.12)}',
          11: '0px 4px 20px 3px #{rgba($color, $opacity * 0.12)}',
          12: '0px 5px 22px 4px #{rgba($color, $opacity * 0.12)}',
          13: '0px 5px 24px 4px #{rgba($color, $opacity * 0.12)}',
          14: '0px 5px 26px 4px #{rgba($color, $opacity * 0.12)}',
          15: '0px 6px 28px 5px #{rgba($color, $opacity * 0.12)}',
          16: '0px 6px 30px 5px #{rgba($color, $opacity * 0.12)}',
          17: '0px 6px 32px 5px #{rgba($color, $opacity * 0.12)}',
          18: '0px 7px 34px 6px #{rgba($color, $opacity * 0.12)}',
          19: '0px 7px 36px 6px #{rgba($color, $opacity * 0.12)}',
          20: '0px 8px 38px 7px #{rgba($color, $opacity * 0.12)}',
          21: '0px 8px 40px 7px #{rgba($color, $opacity * 0.12)}',
          22: '0px 8px 42px 7px #{rgba($color, $opacity * 0.12)}',
          23: '0px 9px 44px 8px #{rgba($color, $opacity * 0.12)}',
          24: '0px 9px 46px 8px #{rgba($color, $opacity * 0.12)}'
  );
}

// Applies the correct css rules to an element to give it the elevation specified by $zValue.
// The $zValue must be between 0 and 24.
@mixin elevation($zValue, $color: $elevation-color, $opacity: $elevation-opacity, $important: '') {
  @if type-of($zValue) != number or not unitless($zValue) {
    @error '$zValue must be a unitless number';
  }
  @if $zValue < 0 or $zValue > 24 {
    @error '$zValue must be between 0 and 24';
  }

  z-index: $zValue;

  @if $important == 'important' {
    box-shadow: #{map-get(_get-umbra-map($color, $opacity), $zValue)},
    #{map-get(_get-penumbra-map($color, $opacity), $zValue)},
    #{map-get(_get-ambient-map($color, $opacity), $zValue)} !important;
  } @else {
    box-shadow: #{map-get(_get-umbra-map($color, $opacity), $zValue)},
    #{map-get(_get-penumbra-map($color, $opacity), $zValue)},
    #{map-get(_get-ambient-map($color, $opacity), $zValue)};
  }
}

@function elevation-transition-property-value(
  $duration: $elevation-transition-duration,
  $easing: $elevation-transition-timing-function) {
  @return box-shadow #{$duration} #{$easing};
}

//.my-class {
//  @include mat-elevation-transition;
//  @include mat-elevation(2);
//
//  &:active {
//    @include mat-elevation(8);
//  }
//}
@mixin elevation-transition(
  $duration: $elevation-transition-duration,
  $easing: $elevation-transition-timing-function) {
  transition: elevation-transition-property-value($duration, $easing);
}

@mixin position($type, $top: auto, $right: auto, $bottom: auto, $left: auto, $width: auto, $height: auto) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;
}

@mixin text(
  $size: 14px,
  $weight: 400,
  $line-height: 1.5,
  $color: inherit,
  $family: inherit) {

  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
  color: $color;
  font-family: $family;
}
