<template>
  <div id="check-in" class="page">
    <div v-if="loading" class="inline-loader">
      <div class="loading-ring"></div>
    </div>
    <div v-else class="container">
      <h3 v-if="message" class="mb-0">{{ message }}</h3>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import { dataService } from "../../services/data.service";
import { mapActions } from "vuex";

export default {
  name: "check-in",
  components: {},
  data() {
    return {
      message: "",
      loading: true
    };
  },
  created() {
    const token = this.$route.params.token;
    dataService
      .checkInOnEvent(token)
      .then(response => response.json())
      .then(response => {
        this.loading = false;
        this.message = response.detail;
      })
      .catch(() => {});
  },
  methods: {
    ...mapActions("alert", ["error"])
  }
};
</script>
<style scoped>
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
