<template>
  <div id="check-in-session" class="page">
    <div v-if="course && event" class="container">
      <h3 class="mb-0">Check in for {{ event.meta }}</h3>
      <h5 class="text-muted">{{ course.title }} course</h5>
      <p>Scan the QR code to mark your attendance in this event.</p>
      <canvas id="canvas"></canvas>
      <p class="text-center">
        Number of checked in users: <strong>{{ numberOfCheckins }}</strong>
      </p>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import { dataService } from "../../services/data.service";
import { mapActions } from "vuex";
import QRCode from "qrcode";

export default {
  name: "check-in-session",
  components: {},
  data() {
    return {
      interval: null,
      course: null,
      event: null,
      newLink: "",
      numberOfCheckins: 0
    };
  },
  created() {
    const uuid = this.$route.params.uuid;
    const courseId = +this.$route.params.id;
    dataService.getCourseData(courseId).then(course => {
      this.course = course;
      dataService.getAllEvents().then(events => {
        const event = events.find(e => e.uuid === uuid);
        if (event) {
          this.event = event;
          this.fetchNewLink();
          this.interval = setInterval(() => {
            this.fetchNewLink();
          }, event.token_expiration * 1000);
        }
      });
    });
  },
  methods: {
    ...mapActions("alert", ["error"]),
    async fetchNewLink() {
      try {
        const uuid = this.$route.params.uuid;
        const data = await dataService.getNewLink(uuid);
        const newLink =
          location.origin +
          "/check-in/" +
          data.check_in_url.split("check-in/")[1];
        this.newLink = newLink;
        console.log(newLink);
        this.numberOfCheckins = data.number_of_checked_in;
        QRCode.toCanvas(document.getElementById("canvas"), newLink, error => {
          if (error) console.error(error);
        });
      } catch (e) {
        console.log(e);
        this.error("Course not fetch new QR code!");
      }
    }
  },
  destroyed() {
    clearInterval(this.interval);
  }
};
</script>
<style scoped>
canvas#canvas {
  width: calc(100vh - 450px) !important;
  height: calc(100vh - 450px) !important;
  margin: 60px auto 40px;
  display: block;
}
.text-center {
  font-size: 20px;
}
</style>
