<template>
  <div id="create-event" class="page bg-white">
    <div class="container">
      <h3>Add new event</h3>
      <p>Provide the data about the upcoming event.</p>
      <form @submit.prevent="handleSubmit">
        <div class="form-group">
          <input
            type="text"
            v-model="event.start_time"
            id="start_time"
            name="start_time"
            class="form-control"
            autocomplete="false"
            :class="{ 'is-invalid': submitted && !event.start_time }"
          />

          <label for="start_time">Start time</label>

          <div v-show="submitted" class="suffix">
            <i v-show="submitted && !event.start_time" class="mdi error">
              error
            </i>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            v-model="event.end_time"
            id="end_time"
            name="end_time"
            class="form-control"
            autocomplete="false"
            :class="{ 'is-invalid': submitted && !event.end_time }"
          />

          <label for="end_time">End time</label>

          <div v-show="submitted" class="suffix">
            <i v-show="submitted && !event.end_time" class="mdi error">
              error
            </i>
          </div>
        </div>
        <div class="form-group">
          <select
            v-if="courses"
            v-model="event.course"
            id="course"
            name="course"
            class="form-control"
            :class="{ 'is-invalid': submitted && event.course === 0 }"
          >
            <option :value="0">Select course...</option>
            <option
              v-for="course in courses"
              :key="course.id"
              :value="course.id"
              >{{ course.title }}</option
            >
          </select>

          <label for="course">Course</label>

          <div v-show="submitted" class="suffix">
            <i v-show="submitted && event.course === 0" class="mdi error">
              error
            </i>
          </div>
        </div>
        <div class="form-group">
          <select
            v-if="event_types"
            v-model="event.lesson_type"
            id="lesson_type"
            name="lesson_type"
            class="form-control"
            :class="{ 'is-invalid': submitted && event.lesson_type === -1 }"
          >
            <option :value="-1">Select lesson type...</option>
            <option
              v-for="lesson_type in event_types"
              :key="lesson_type.type_id"
              :value="lesson_type.type_id"
              >{{ lesson_type.type_name }}</option
            >
          </select>

          <label for="lesson_type">Lesson type</label>

          <div v-show="submitted" class="suffix">
            <i v-show="submitted && event.lesson_type === -1" class="mdi error">
              error
            </i>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            v-model="event.title"
            id="title"
            name="title"
            class="form-control"
            autocomplete="false"
            :class="{ 'is-invalid': submitted && !event.title }"
          />

          <label for="end_time">Title</label>

          <div v-show="submitted" class="suffix">
            <i v-show="submitted && !event.title" class="mdi error">
              error
            </i>
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            v-model="event.meta"
            id="meta"
            name="meta"
            class="form-control"
            autocomplete="false"
            :class="{ 'is-invalid': submitted && !event.meta }"
          />

          <label for="end_time">Description</label>

          <div v-show="submitted" class="suffix">
            <i v-show="submitted && !event.meta" class="mdi error">
              error
            </i>
          </div>
        </div>
        <div class="form-group">
          <input
            type="number"
            v-model="event.token_expiration"
            id="token_expiration"
            name="token_expiration"
            class="form-control"
            autocomplete="false"
            :class="{ 'is-invalid': submitted && !event.token_expiration }"
          />

          <label for="end_time">QR code expiration time (in seconds)</label>

          <div v-show="submitted" class="suffix">
            <i v-show="submitted && !event.token_expiration" class="mdi error">
              error
            </i>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-secondary" :class="{ disabled: creating }">
            Create event
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import { dataService } from "../../services/data.service";
import { router } from "../../router";
const date = new Date();
export default {
  name: "create-event",
  components: {},
  data() {
    return {
      creating: false,
      submitted: false,
      courses: [],
      event_types: [],
      event: {
        start_time: `2019-${date.getMonth() < 10 ? "0" : ""}${date.getMonth() +
          1}-${date.getDate() < 10 ? "0" : ""}${date.getDate()} 09:00`,
        end_time: `2019-${date.getMonth() < 10 ? "0" : ""}${date.getMonth() +
          1}-${date.getDate() < 10 ? "0" : ""}${date.getDate()} 10:30`,
        course: 0,
        token_expiration: 5,
        lesson_type: -1,
        meta: "",
        title: ""
      }
    };
  },
  created() {
    dataService.getAllCourses().then(courses => {
      this.loading = false;
      this.courses = courses;
    });
    dataService.getEventTypes().then(event_types => {
      this.loading = false;
      this.event_types = event_types;
    });
  },
  methods: {
    async handleSubmit(e) {
      e.preventDefault();

      if (!this.creating) {
        this.submitted = true;
        this.creating = true;
        const { event } = this;
        try {
          const fullEvent = await dataService.createEvent(event);
          console.log(fullEvent);
          localStorage.removeItem("events");
          router.push("/list-event/");
        } catch (e) {
          this.error = true;
          this.creating = false;
        }
      }
    }
  }
};
</script>
