<template>
  <div id="event" class="page">
    <div v-if="event" class="sortable-table-container page">
      <div class="container">
        <div class="row">
          <div class="content">
            <h3 class="mt-5">{{ event.event.title }}</h3>
            <h4 class="mb-0">{{ event.event.meta }}</h4>
            <div class="students-container" v-if="event.attendance">
              <h4>Students attended this event</h4>
              <p>Here is the list of all students attended this event.</p>
              <div class="form-group">
                <input
                  id="search"
                  type="text"
                  v-model="search"
                  name="search"
                  class="form-control"
                />

                <label for="search">Search student</label>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th
                        v-for="column in columns"
                        :key="column.prop"
                        scope="col"
                        class="sortable"
                        @click="sortBy(column.prop)"
                        :class="{ active: sortKey === column.prop }"
                      >
                        {{ column.text }}
                        <i
                          class="mdi"
                          :class="{
                            reverse: reverse,
                            sort: sortKey === column.prop
                          }"
                          >{{
                            sortKey === column.prop ? "arrow_drop_down" : "sort"
                          }}</i
                        >
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(student, i) in orderedStudents"
                      :key="student.id"
                      class="student-link"
                    >
                      <th scope="row">{{ student.pk }}</th>
                      <td>{{ student.first_name }}</td>
                      <td>{{ student.last_name }}</td>
                      <td>{{ student.email }}</td>

                      <td
                        class="ml-auto color-secondary d-flex align-items-center"
                        @click="checkIn(student.pk, !student.visited, i)"
                      >
                        <i class="material-icons mr-2">
                          {{
                            student.visited
                              ? "check_box"
                              : "check_box_outline_blank"
                          }}
                        </i>
                        {{ student.visited ? "Present" : "Absent" }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import { dataService } from "../../services/data.service";
import { mapActions } from "vuex";
import orderBy from "lodash.orderby";

export default {
  name: "event",
  components: {},
  data() {
    return {
      event: null,
      sortKey: "pk",
      search: "",
      reverse: false,
      columns: [
        { prop: "pk", text: "ID" },
        { prop: "first_name", text: "First name" },
        { prop: "last_name", text: "Last name" },
        { prop: "email", text: "Email" },
        { prop: "visited", text: "Presence" }
      ]
    };
  },
  computed: {
    orderedStudents() {
      if (
        this.event &&
        this.event.attendance &&
        this.event.attendance.length > 0
      ) {
        let students = this.event.attendance
          .map(el => {
            return { ...el.student, visited: el.visited };
          })
          .filter(student =>
            (
              student.first_name +
              student.last_name +
              student.email +
              student.pk
            )
              .toLowerCase()
              .includes(this.search)
          );
        students = orderBy(
          students,
          [this.sortKey],
          [this.reverse ? "desc" : "asc"]
        );
        return students;
      } else {
        return [];
      }
    }
  },
  created() {
    const eventId = +this.$route.params.id;
    dataService.getEventStatistics(eventId).then(event => {
      this.event = event;
    });
  },
  methods: {
    ...mapActions("alert", ["error"]),

    checkIn(student, status, i) {
      console.log(student, status, i);
      dataService
        .checkinManually(student, this.event.event.id, status)
        .then(() => {
          this.event.attendance[i].visited = status;
        });
    },

    sortBy: function(sortKey) {
      this.reverse = this.sortKey === sortKey ? !this.reverse : false;
      this.sortKey = sortKey;
    }
  }
};
</script>
