<template>
  <div id="list-event" class="page">
    <div class="sortable-table-container vw-100">
      <div class="container">
        <h3>
          <span>List all your event</span>
          <router-link
            tag="a"
            to="/create-event/"
            class="btn btn-add-new btn-primary"
          >
            <i class="mdi">add</i>
            Add new
          </router-link>
        </h3>
        <p>Provide the data about the upcoming event.</p>

        <div class="form-group">
          <input
            id="search"
            type="text"
            v-model="search"
            name="search"
            class="form-control"
          />

          <label for="search">Search event</label>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th
                  v-for="column in columns"
                  :key="column.prop"
                  scope="col"
                  class="sortable"
                  @click="sortBy(column.prop)"
                  :class="{ active: sortKey === column.prop }"
                >
                  {{ column.text }}
                  <i
                    class="mdi"
                    :class="{
                      reverse: reverse,
                      sort: sortKey === column.prop
                    }"
                    >{{
                      sortKey === column.prop ? "arrow_drop_down" : "sort"
                    }}</i
                  >
                </th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="event in orderedEvents"
                :key="event.id"
                class="event-row"
              >
                <th scope="row">{{ event.id }}</th>
                <td>{{ event.start_time }}</td>
                <td>{{ event.end_time }}</td>
                <td>{{ convertType(event.lesson_type) }}</td>
                <td>{{ event.title }}</td>
                <td>
                  <div class="d-flex ml-auto">
                    <router-link
                      tag="a"
                      :to="'/event/' + event.id"
                      class="color-secondary d-flex mr-3 text-decoration-none"
                    >
                      <i class="mdi timer mr-2">info_outline</i>
                      Info
                    </router-link>
                    <router-link
                      tag="a"
                      :to="
                        '/check-in-session/' + event.course + '/' + event.uuid
                      "
                      :key="event.id"
                      class="color-secondary d-flex text-decoration-none"
                    >
                      <i class="mdi timer mr-2">timer</i>
                      Start session
                    </router-link>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { dataService } from "../../services/data.service";
import orderBy from "lodash.orderby";

export default {
  name: "list-event",
  components: {},
  data() {
    return {
      sortKey: "id",
      search: "",
      reverse: false,
      columns: [
        { prop: "id", text: "ID" },
        { prop: "start_time", text: "Started" },
        { prop: "end_time", text: "Ended" },
        { prop: "lesson_type", text: "Type" },
        { prop: "title", text: "Title" },
      ],
      loading: true,
      events: []
    };
  },
  computed: {
    orderedEvents() {
      if (this.events && this.events.length > 0) {
        let events = this.events.filter(event =>
          event.meta.toLowerCase().includes(this.search)
        );
        events = orderBy(
          events,
          [this.sortKey],
          [this.reverse ? "desc" : "asc"]
        );
        return events;
      } else {
        return [];
      }
    }
  },
  mounted() {
    dataService
      .getAllEvents()
      .then(events => {
        this.events = events;
        this.loading = false;
      })
      .catch(e => {
        console.log(e);
        this.error("Events not found!");
        this.loading = false;
      });
  },
  methods: {
    ...mapActions("alert", ["error"]),

    convertType(type) {
      switch (type) {
        case 0:
          return "Lecture";
        case 1:
          return "Tutorial";
        case 2:
          return "Lab";
      }
    },

    sortBy: function(sortKey) {
      this.reverse = this.sortKey === sortKey ? !this.reverse : false;
      this.sortKey = sortKey;
    }
  }
};
</script>
