@import "utils";

.card {
  background: #fff;
  padding: 0;
  @include border-radius(4px);
  border-width: 0;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
  @include elevation(6, darken($backgroundSecondary, 5%));
  @include user-select(none);
  z-index: 6 !important;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    opacity: 1;
    cursor: pointer;
    @include elevation(24, darken($backgroundSecondary, 5%));
    @include elevation-transition(.3s);
  }

  &.pressed {
    @include elevation(4, darken($backgroundSecondary, 10%));
    @include elevation-transition(.1s);
  }
  &.solved {
    background: #fff;
    opacity: 0.6;
    @include elevation(6, darken($backgroundSecondary, 5%), 0.6, 'important');
  }
  .card-body {
    padding: 14px 20px 8px;
    height: 100%;
  }
}
