<template>
  <div id="courses" class="page">
    <div class="container">
      <div class="row">
        <div class="content">
          <h3>Courses statistics</h3>
          <p>
            This is overall statistics all available courses
          </p>
          <div class="chart-container">
            <div v-if="loading" class="inline-loader">
              <div class="loading-ring"></div>
            </div>
            <div class="course-holder">
              <div class="course-container">
                <!--eslint-disable-next-line-->
                <div
                  class="course-block col-12 col-xs-6 col-md-4 col-lg-3"
                  v-for="course in courses"
                >
                  <CourseBlock :key="courses.id" :course="course" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { dataService } from "../services/data.service";
import CourseBlock from "../components/CourseBlock";

export default {
  name: "courses",
  components: { CourseBlock },
  data() {
    return {
      loading: true,
      courses: {}
    };
  },
  computed: {
    ...mapState("account", ["user"])
  },
  mounted() {
    dataService.getAllCourses().then(courses => {
      this.loading = false;
      this.courses = courses;
    });
  }
};
</script>

<style lang="scss">
.course-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  margin: 0 -15px;
}
</style>
