<template>
  <div id="course" class="page">
    <div class="container">
      <div class="row">
        <div class="content col-12">
          <div v-if="course" class="course-info">
            <h3>{{ course.title }}</h3>
            <p>This is overall statistics {{ course.title }} courses</p>
            <div class="row">
              <div v-if="course.professors" class="d-flex flex-column col">
                <div
                  v-for="professor in course.professors"
                  :key="professor.id"
                  class="points"
                >
                  Professor: {{ professor.first_name }}
                  {{ professor.last_name }}
                </div>
              </div>
              <div v-if="course.students" class="d-flex flex-column col">
                <div class="points">
                  Students enrolled: {{ course.students.length }}
                </div>
              </div>
            </div>
          </div>
          <div class="chart-container">
            <div v-if="loading" class="inline-loader">
              <div class="loading-ring"></div>
            </div>
            <div v-if="user.user_profile.privilege_level !== 'STUDENT'">
              <LineChart
                v-if="data.datasets.length > 0"
                :options="options"
                :data="data"
              />
            </div>
            <div v-else>
              <BarChart
                v-if="data.datasets.length > 0"
                :options="options"
                :data="data"
              />
              <div class="col-12 col-md-6 col-lg-4 mx-auto my-5">
                <PieChart v-if="pieData" :data="pieData" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="user.user_profile.privilege_level !== 'STUDENT'"
      class="sortable-table-container students-statistics"
    >
      <div class="container">
        <div class="row">
          <div class="content">
            <div class="students-container" v-if="course && course.students">
              <h4>Students in the course</h4>
              <p>Here is the list of all students enrolled to this course.</p>
              <div class="form-group">
                <input
                  id="search"
                  type="text"
                  v-model="search"
                  name="search"
                  class="form-control"
                />

                <label for="search">Search student</label>
              </div>
              <div class="table-responsive">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th
                        v-for="column in columns"
                        :key="column.prop"
                        scope="col"
                        class="sortable"
                        @click="sortBy(column.prop)"
                        :class="{ active: sortKey === column.prop }"
                      >
                        {{ column.text }}
                        <i
                          class="mdi"
                          :class="{
                            reverse: reverse,
                            sort: sortKey === column.prop
                          }"
                          >{{
                            sortKey === column.prop ? "arrow_drop_down" : "sort"
                          }}</i
                        >
                      </th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <router-link
                      tag="tr"
                      v-for="student in orderedStudents"
                      :to="'/student/' + student.id"
                      :key="student.id"
                      class="student-link"
                    >
                      <th scope="row">{{ student.id }}</th>
                      <td>{{ student.first_name }}</td>
                      <td>{{ student.last_name }}</td>
                      <td>{{ student.email }}</td>
                      <td class="ml-auto color-secondary">
                        <i class="mdi edit-pencil">edit</i>
                      </td>
                    </router-link>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LineChart from "../components/LineChart";
import { mapActions, mapState } from "vuex";
import { dataService } from "../services/data.service";
import orderBy from "lodash.orderby";
import BarChart from "../components/BarChart";
import PieChart from "../components/PieChart";

export default {
  name: "course",
  data() {
    return {
      sortKey: "id",
      search: "",
      reverse: false,
      columns: [
        { prop: "id", text: "ID" },
        { prop: "first_name", text: "First name" },
        { prop: "last_name", text: "Last name" },
        { prop: "email", text: "Email" }
      ],
      chart: null,
      pieData: null,
      loading: true,
      events: {},
      course: null,

      // Chart js config
      data: {
        labels: [],
        datasets: []
      },
      options: {}
    };
  },
  components: {
    PieChart,
    BarChart,
    LineChart
  },
  computed: {
    ...mapState("account", ["user"]),
    orderedStudents() {
      if (
        this.course &&
        this.course.students &&
        this.course.students.length > 0
      ) {
        let students = this.course.students.filter(student =>
          (student.first_name + student.last_name + student.email + student.id)
            .toLowerCase()
            .includes(this.search)
        );
        students = orderBy(
          students,
          [this.sortKey],
          [this.reverse ? "desc" : "asc"]
        );
        return students;
      } else {
        return [];
      }
    }
  },
  mounted() {
    const id = +this.$route.params.id;
    dataService
      .getCourseStatistics(
        id,
        this.user.user_profile &&
          this.user.user_profile.privilege_level === "STUDENT"
      )
      .then(statistics => {
        this.course = statistics.course;
        this.events = statistics.events;
        setTimeout(() => {
          this.loading = false;
          this.drawGraph(statistics.events);
        }, 500);
        console.log(this.chart);
      })
      .catch(e => {
        console.log(e);
        this.error("Course not found!");
        this.loading = false;
      });
  },
  methods: {
    ...mapActions("alert", ["error"]),
    drawGraph(events) {
      this.options = {
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: `Attendance of ${this.course.title} course`
        },
        legend: {
          display: false
        },
        tooltips: {
          callbacks: {
            label: function(tooltipItem) {
              try {
                const { start_time, end_time } = events[tooltipItem.index];
                return `From ${start_time.split(" ")[1]} till ${
                  end_time.split(" ")[1]
                }`;
              } catch (e) {
                return ``;
              }
            }
          }
        }
      };
      if (this.user.user_profile.privilege_level !== "STUDENT") {
        this.data = {
          labels: events.map(event => event.start_time.split(" ")[0]),
          datasets: [
            {
              label: "Attendance",
              backgroundColor: `#5eb162`,
              borderColor: `#3a853e`,
              data: events.map(event => event.total),
              fill: false
            }
          ]
        };
      } else {
        this.pieData = {
          labels: ["Absent", "Present"],
          datasets: [
            {
              label: "Data One",
              backgroundColor: ["#1B5E20", "#C8E6C9"],
              data: [0, 0]
            }
          ]
        };
        this.data = {
          labels: events.map(el => el.event.start_time.split(" ")[0]),
          datasets: [
            {
              label: "Attendance",
              backgroundColor: `#5eb162`,
              borderColor: `#3a853e`,
              data: events.map(event => {
                if (event.visited) {
                  this.pieData.datasets[0].data[0]++;
                  return 1;
                } else {
                  this.pieData.datasets[0].data[1]++;
                  return 0;
                }
              }),
              fill: false
            }
          ]
        };
        this.options = {
          ...this.options,
          type: "bar",
          scales: {
            xAxes: [
              {
                stacked: true,
                categoryPercentage: 0.5,
                barPercentage: 1
              }
            ],
            yAxes: [
              {
                stacked: true
              }
            ]
          }
        };
      }
    },

    sortBy: function(sortKey) {
      this.reverse = this.sortKey === sortKey ? !this.reverse : false;
      this.sortKey = sortKey;
    }
  }
};
</script>

<style lang="scss">
.course-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  margin: 0 -15px;
}
</style>
