<template>
  <div id="home" class="page">
    <div class="container">
      <h3>Automated attendance tracking</h3>
      <p>You may scan the QR code when you are attending the event.</p>
      <button class="btn btn-primary mb-5" @click="isOpen = !isOpen">Scan the QR code</button>
      <QrcodeStream v-if="isOpen" @decode="onDecode"></QrcodeStream>
      <div class="row">
        <div class="col-12 col-md-6  mx-auto my-5">
          <img class="illustration" src="../assets/images/illustration.svg" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { QrcodeStream } from 'vue-qrcode-reader'
import { dataService } from "../services/data.service";

export default {
  name: "home",
  data() {
    return {
      isOpen: false,
      message: ''
    };
  },
  components: {
    QrcodeStream,
  },
  methods: {
    onDecode(token) {
      console.log(token.split("check-in/")[1]);
      dataService
        .checkInOnEvent(token.split("check-in/")[1])
        .then(response => response.json())
        .then(response => {
          console.log(JSON.stringify(response));
          alert(response.detail);
        })
        .catch(() => {});
    }
  }
};
</script>
