<template>
  <div id="profile" class="page">
    <div class="container">
      <div class="row">
        <div class="content col-12">
          <h3>Student's statistics</h3>
          <p v-if="profile">
            This is overall statistics for
            <strong>
              {{ profile.first_name }} {{ profile.last_name }} ({{
                profile.email
              }})
            </strong>
          </p>
          <div class="chart-container">
            <div v-if="loading" class="inline-loader">
              <div class="loading-ring"></div>
            </div>
            <BarChart
              v-if="data.datasets.length > 0"
              :options="options"
              :data="data"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BarChart from "../components/BarChart";
import { mapActions, mapState } from "vuex";
import { dataService } from "../services/data.service";
import { userService } from "../services/user.service";

export default {
  name: "student-information",
  components: {
    BarChart,
  },
  data() {
    return {
      loading: true,
      profile: Object,
      present: 0,
      absent: 0,
      hasError: false,
      // Chart js config
      data: {
        labels: [],
        datasets: []
      },
      options: {}
    };
  },
  computed: {
    ...mapState("account", ["user"])
  },
  created() {
    const id = +this.$route.params.id;
    if (this.$route.name !== "profile") {
      userService.getById(id).then(profile => {
        this.profile = profile;
        this.drawPersonalStatistics(profile);
      });
    } else {
      this.profile = this.user;
      this.drawPersonalStatistics(this.user);
    }
  },
  methods: {
    ...mapActions("alert", ["error"]),
    drawPersonalStatistics(profile) {
      dataService
        .getPersonalStatistics(profile.pk, profile.pk === this.user.pk)
        .then(statsByCourse => {
          console.log(statsByCourse);
          if (!statsByCourse) {
            this.error = true;
          }
          this.loading = false;
          const data = {};
          statsByCourse.forEach(courseData => {
            if (courseData.events) {
              courseData.events.forEach(event => {
                data[event.event.start_time.split(" ")[0]] = event.visited;
              });
            }
          });
          const colors = [
            "#1B5E20",
            "#388E3C",
            "#4CAF50",
            "#81C784",
            "#C8E6C9",
            "#E8F5E9"
          ];
          const datasets = statsByCourse.map((courseData, i) => {
            const attendanceUnits = courseData.events.map(event => {
              if (event.visited) {
                this.present++;
                return 1;
              } else {
                this.absent++;
                return 0;
              }
            });
            return {
              label: courseData.course.title,
              backgroundColor: colors[i],
              data: attendanceUnits
            };
          });
          this.data = {
            labels: Object.keys(data).map(time => time.split(" ")[0]),
            datasets
          };

          this.options = {
            responsive: true,
            maintainAspectRatio: false,
            title: {
              display: true,
              text: `Attendance of courses`
            },
            legend: {
              display: false
            },

            tooltips: {
              mode: "index",
              intersect: false
            },
            type: "bar",
            scales: {
              xAxes: [
                {
                  stacked: true,
                  categoryPercentage: 0.5,
                  barPercentage: 1
                }
              ],
              yAxes: [
                {
                  stacked: true
                }
              ]
            }
          };
        })
        .catch(() => {
          if (this.$route.name !== "profile")
            this.error("Course not found!");
          this.loading = false;
          this.hasError = true;
        });
    }
  }
};
</script>
