<template>
  <router-link tag="div" :to="'/course/' + course.id" class="card">
    <div class="card-body d-flex flex-column">
      <h5 class="course-title">
        {{ course.title }}
      </h5>
      <p class="course-caption">{{ course.description }}</p>

      <div class="course-data">
        <span v-if="course.students && course.students.length" class="points">
          Students: {{ course.students.length }}
        </span>
        <span
          v-if="course.professors && course.professors.length"
          class="points">
          Profs: {{ course.professors.length }}
        </span>
        <span v-if="course.tas && course.tas.length" class="points">
          TAs: {{ course.tas.length }}
        </span>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "CourseBlock",
  props: {
    course: Object
  }
};
</script>

<style scoped></style>
