<script>
import { Line } from "vue-chartjs";

export default {
  extends: Line,
  props: {
    data: {
      labels: Array,
      datasets: Array
    },
    options: Object
  },
  mounted() {
    // Overwriting base render method with actual data.
    this.renderChart(this.data, this.options);
  }
};
</script>

<style scoped></style>
