<template>
  <div class="navbar-extended">
    <nav class="navbar navbar-expand main-nav">
      <div class="container">
        <router-link to="/" class="navbar-brand">
          <img src="../assets/logo.svg" />
          <span class="logo-text d-none d-md-block">Attendance tracking</span>
        </router-link>
        <div v-if="status.loggedIn" class="collapse navbar-collapse">
          <div class="navbar-nav">
            <router-link
              to="/courses"
              active-class="active"
              class="nav-item nav-link"
            >
              Courses
            </router-link>
            <router-link
              v-if="
                user &&
                  user.user_profile &&
                  (user.user_profile.privilege_level === 'DOE' ||
                    user.user_profile.privilege_level === 'PROFESSOR' ||
                    user.user_profile.privilege_level === 'TA')
              "
              to="/list-event"
              active-class="active"
              class="nav-item nav-link"
            >
              Events
            </router-link>
            <!--<router-link
              to="/profile"
              active-class="active"
              class="nav-item nav-link"
            >
              Personal statistics
            </router-link>-->
          </div>
        </div>
        <div v-if="status.loggedIn" class="navbar-nav ml-auto">
          <router-link
            v-if="user"
            to="/profile/"
            tag="a"
            active-class="active"
            class="nav-item nav-link text-decoration-none"
          >
            <span class="d-none d-md-inline"
              >{{ user.first_name }} {{ user.last_name }}</span
            >
            <i class="d-flex d-md-none mdi">account_box</i>
          </router-link>
          <router-link
            to="/settings"
            active-class="active"
            class="nav-item nav-link text-decoration-none"
          >
            <span class="d-none d-md-inline">Settings</span>
            <i class="d-flex d-md-none mdi">settings</i>
          </router-link>
          <router-link to="/login" class="logout nav-item nav-link text-decoration-none">
            <span class="d-none d-md-inline">Log out</span>
            <i class="d-flex d-md-none mdi">exit_to_app</i>
          </router-link>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "NavBar",
  computed: {
    ...mapState("account", ["status", "user"])
  }
};
</script>

<style scoped>
@media (max-width: 767px) {
  .navbar-extended .navbar-brand {
    margin-right: 0;
    flex-basis: 40px;
  }
}
</style>
