<template>
  <div class="page">
    <div class="drop-shadow center-block">
      <div class="auth-container container-fluid">
        <div class="row">
          <div class="auth-container__leftside col-12 col-md-4 mt-3 mt-md-0">
            <div class="row">
              <h3 class="header mb-1"><a href="/">Attendance tracking</a></h3>
              <div class="header-divider"></div>
              <p>
                Automated attendance tracking system for
                <strong>Innopolis University</strong>.
              </p>
            </div>
          </div>
          <div class="decorations"></div>
          <div class="auth-container__rightside auth-form col-12 col-md-8">
            <div class="row">
              <form id="login" @submit.prevent="handleSubmit">
                <h3 class="header mb-1">Enter the system</h3>
                <small class="text-muted">
                  Every user has a personal account to keep track of
                  attendance.<br />
                  If you are professor, you are able to see the whole picture of
                  course based on attendance metrics.
                </small>
                <div v-if="error" class="text-danger">
                  Credentials are wrong. Try again
                </div>
                <div class="form-container">
                  <div class="form-group">
                    <input
                      type="text"
                      v-model="username"
                      id="username"
                      name="username"
                      class="form-control"
                      autocomplete="false"
                      :class="{ 'is-invalid': submitted && !username }"
                    />

                    <label for="username">Username</label>

                    <div v-show="submitted" class="suffix">
                      <i v-show="submitted && !username" class="mdi error">
                        error
                      </i>
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      id="password"
                      type="password"
                      v-model="password"
                      name="password"
                      class="form-control"
                      :class="{ 'is-invalid': submitted && !password }"
                    />

                    <label for="password">Password</label>

                    <div v-show="submitted" class="suffix">
                      <i v-show="submitted && !password" class="mdi error">
                        error
                      </i>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button
                    class="btn btn-secondary"
                    :class="{ disabled: status.loggingIn }"
                  >
                    Sign in
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  name: "login",
  data() {
    return {
      username: "",
      password: "",
      submitted: false,
      error: false
    };
  },
  computed: {
    ...mapState("account", ["status"])
  },
  created() {
    // reset login status
    this.logout();
  },
  methods: {
    ...mapActions("account", ["login", "getMyProfile", "logout"]),
    async handleSubmit(e) {
      e.preventDefault();
      this.error = false;
      this.submitted = true;
      const { username, password } = this;
      if (username && password) {
        const loggedIn = await this.login({ username, password });
        if (loggedIn) {
          await this.getMyProfile();
          location.reload();
        } else {
          this.error = true;
        }
      }
    }
  }
};
</script>
<style>
.text-danger {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
</style>
