<template>
  <div id="profile" class="page px-0 flex-column">
    <div class="container">
      <div class="row">
        <div class="content col-12">
          <h3>Personal statistics</h3>
          <p v-if="profile">
            This is overall statistics for
            <strong>
              {{ profile.first_name }} {{ profile.last_name }}
              <span v-if="profile.email"> ({{ profile.email }})</span>
            </strong>
          </p>
          <div class="chart-container" v-if="!hasError">
            <div v-if="loading" class="inline-loader">
              <div class="loading-ring"></div>
            </div>
            <BarChart
              v-if="data.datasets.length > 0"
              :options="options"
              :data="data"
            />
            <div class="col-12 col-md-6 col-lg-4 mx-auto my-5">
              <PieChart v-if="pieData" :data="pieData"></PieChart>
            </div>
          </div>
          <div v-else>
            <p>There is no statistics for university staff</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PieChart from "../../components/PieChart";
import StudentStatistics from "../StudentStatistics";
import { mapActions, mapState } from "vuex";

export default {
  name: "personal-information",
  extends: StudentStatistics,
  components: {
    PieChart
  },
  data() {
    return {
      pieData: null,
    };
  },
  methods: {
    ...mapActions("account", ["changePassword"]),
  },
  computed: {
    ...mapState("account", ["status"])
  },
  watch: {
    present() {
      this.pieData = {
        labels: ["Absent", "Present"],
        datasets: [
          {
            label: "Data One",
            backgroundColor: ["#1B5E20", "#C8E6C9"],
            data: [this.absent, this.present]
          }
        ]
      };
    }
  }
};
</script>
