<template>
  <div id="profile" class="page px-0 flex-column">
    <div class="students-statistics bg-white" style="height: calc(100vh - 80px);">
      <div class="container">
        <div class="row">
          <form id="login" class="col-12" @submit.prevent="handleSubmit">
            <h3 class="header mb-1">Change your password</h3>
            <small class="text-muted">
              Enter the previous password and then new ones to make<br />
              your account more secure. The default password is
              <code>student2019</code>
            </small>
            <div v-if="passwordError" class="text-danger">
              Password is wrong or new password and its confirmation don't match
            </div>
            <div class="form-container">
              <div class="form-group">
                <input
                  id="old_password"
                  type="password"
                  v-model="oldPassword"
                  name="old_password"
                  class="form-control"
                  :class="{ 'is-invalid': submitted && !oldPassword }"
                />

                <label for="old_password">Old password</label>

                <div v-show="submitted" class="suffix">
                  <i v-show="submitted && !oldPassword" class="mdi error">
                    error
                  </i>
                </div>
              </div>
              <div class="form-group">
                <input
                  id="new_password"
                  type="password"
                  v-model="newPassword"
                  name="new_password"
                  class="form-control"
                  :class="{ 'is-invalid': submitted && !newPassword }"
                />

                <label for="new_password">New password</label>

                <div v-show="submitted" class="suffix">
                  <i v-show="submitted && !newPassword" class="mdi error">
                    error
                  </i>
                </div>
              </div>
              <div class="form-group">
                <input
                  id="password_confirmation"
                  type="password"
                  v-model="passwordConfirmation"
                  name="password_confirmation"
                  class="form-control"
                  :class="{
                    'is-invalid':
                      (submitted && !passwordConfirmation) ||
                      (submitted && passwordConfirmation !== newPassword)
                  }"
                />

                <label for="password_confirmation">Password confirmation</label>

                <div v-show="submitted" class="suffix">
                  <i
                    v-show="
                      (submitted && !passwordConfirmation) ||
                        passwordConfirmation !== newPassword
                    "
                    class="mdi error"
                  >
                    error
                  </i>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button
                class="btn btn-secondary"
                :class="{ disabled: status.changingPassword }"
              >
                Change password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "settings",
  components: {
  },
  data() {
    return {
      oldPassword: "",
      newPassword: "",
      passwordConfirmation: "",
      submitted: false,
      passwordError: false
    };
  },
  methods: {
    ...mapActions("account", ["changePassword"]),
    async handleSubmit(e) {
      e.preventDefault();
      this.passwordError = false;
      this.submitted = true;
      const { oldPassword, newPassword, passwordConfirmation } = this;
      if (oldPassword && newPassword && newPassword === passwordConfirmation) {
        const result = await this.changePassword({ oldPassword, newPassword });
        console.log(result);
        if (!result) {
          this.passwordError = true;
        }
      }
    }
  },
  computed: {
    ...mapState("account", ["status"])
  },
};
</script>
