<template>
  <div id="app">
    <div
      id="main"
      class="main"
      style="opacity: 0; height: 100vh; overflow: hidden;"
    >
      <NavBar />
      <router-view />
      <div v-if="alert.message" class="message-container">
        <div :class="`alert ${alert.type}`">{{ alert.message }}</div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import NavBar from "@/components/NavBar.vue";
export default {
  components: {
    NavBar
  },
  mounted() {
    document.getElementById("loading").style.display = "none";
    document.body.classList.add("show");
  },

  computed: {
    ...mapState({
      alert: state => state.alert
    })
  },
  methods: {
    ...mapActions({
      clearAlert: "alert/clear"
    })
  },
  watch: {
    $route() {
      // clear alert on location change
      this.clearAlert();
    }
  }
};
</script>
<style lang="scss">
@import "assets/scss/styles";
@import "assets/fonts/iconfont/material-icons.css";
</style>
